.tab-group {
    padding: 40px 2% 0 2%;
}

.fx-layout {
    padding: 2%;
}

.div-card {
    margin: 0.5%;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}