  <mat-tab-group class="tab-group">
  <mat-tab label="Animation">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="fx-layout">
      <ng-container *ngFor="let movie of moviesAnimation" fxLayout="row" fxLayoutAlign="start center" class="fx-layout">     
        <mat-card class="mat-card-movie" fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
            <mat-card-title class="mat-card-title-movie">
            <div class="row">
              <p>
                <span class="movie-name" fxFlex="70" fxLayoutAlign="start center">{{movie.name}}</span>
                <span fxFlex></span>
                <span fxFlex="25" fxLayoutAlign="end center" class="movie-price">{{ movie.price | currency:'CAD'}}</span>
              </p>
            </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
            <div>
              <iframe class="iframe" [src]="movie.urlSafe" frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
            </div>
            </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Romance">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="fx-layout">
      <ng-container *ngFor="let movie of moviesRomance" fxLayout="row" fxLayoutAlign="start center" class="fx-layout">     
        <mat-card class="mat-card-movie" fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
            <mat-card-title class="mat-card-title-movie">
            <div class="row">
              <p>
                <span class="movie-name" fxFlex="70" fxLayoutAlign="start center">{{movie.name}}</span>
                <span fxFlex></span>
                <span fxFlex="25" fxLayoutAlign="end center" class="movie-price">{{ movie.price | currency:'CAD'}}</span>
              </p>
            </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
            <div>
              <iframe class="iframe" [src]="movie.urlSafe" frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
            </div>
            </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Action">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="fx-layout">
      <ng-container *ngFor="let movie of moviesAction" fxLayout="row" fxLayoutAlign="start center" class="fx-layout">     
        <mat-card class="mat-card-movie" fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
            <mat-card-title class="mat-card-title-movie">
            <div class="row">
              <p>
                <span class="movie-name" fxFlex="70" fxLayoutAlign="start center">{{movie.name}}</span>
                <span fxFlex></span>
                <span fxFlex="25" fxLayoutAlign="end center" class="movie-price">{{ movie.price | currency:'CAD'}}</span>
              </p>
            </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
            <div>
              <iframe class="iframe" [src]="movie.urlSafe" frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
            </div>
            </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>

</mat-tab-group>



